@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f73f27;
}

body{
  overflow: hidden;
}

.container {
  max-width: 85%;
  margin: auto;
}

.my_text_color {
  color: var(--background-color);
}

.my-bg {
  /* background: var(--background-color); */
  background: linear-gradient(to right ,#f74225, #e61312);

}

.my-border-purple {
  border-color: var(--background-color);
}
